body{
	background-color:grey;
}
#main{
  height:1500px;
  width:2100px;
  border:2px solid black;
  background-color:lightgrey;
  box-shadow:5px 5px 25px black;
}

#left{
	height:1500px;
	width:300px;
	float:left;
}
#center{
	height:1500px;
	width:1500px;
	float:left;
	background-color:black;
}
#right{
	height:1500px;
	width:200px;
	float:left;
}
#center1{
	height:600px;
	width:1500px;
}
#center2{
	height:300px;
	width:1500px;
}
#center3{
	height:600px;
	width:1500px;
}
#red{
	height:600px;
	width:600px;
	background-color:red;
	float:left;
}
#greenpass{
	height:600px;
	width:300px;
	float:left;
}
#green{
	height:600px;
	width:600px;
	background-color:#5cfa5f;
	float:left;
	
}
.tokenholder{
	height:480px;
	width:480px;
	background-color:white;
	margin:60px;
	}
	
.tokenr{
	height:150px;
	width:150px;
	background-color:red;
	border-radius:75px;
	display:inline-block;
	margin:40px;
	color:black;
	font-size:100px;
	text-align:center;
}
.tokeng{
	height:150px;
	width:150px;
	background-color:#5cfa5f;
	border-radius:75px;
	display:inline-block;
	margin:40px;
	color:black;
	font-size:100px;
	text-align:center;
}
.tokenb{
	height:150px;
	width:150px;
	background-color:#5df5e6;	
	border-radius:75px;
	display:inline-block;
	margin:40px;
	color:black;
	font-size:100px;
	text-align:center;
}
.tokeny{
	height:150px;
	width:150px;
	background-color:yellow;
	border-radius:75px;
	display:inline-block;
	margin:40px;
	color:black;
	font-size:100px;
	text-align:center;
}	

.box{
	height:94px;
	width:94px;
	float:left;
	background-color:white;	
	border:1px solid black;
	color:black;
	font-size:60px;
	text-align:center;
}
.rbox{
	height:94px;
	width:94px;
	float:left;
	background-color:red;	
	border:1px solid black;
	color:black;
	font-size:60px;
	text-align:center;
}
.gbox{
	height:94px;
	width:94px;
	float:left;
	background-color:#5cfa5f;
	border:1px solid black;
	color:black;
	font-size:60px;
	text-align:center;
	
	
}
.bbox{
	height:94px;
	width:94px;
	float:left;
	background-color:#5df5e6;	
	border:1px solid black;
	color:black;
	font-size:60px;
	text-align:center;
}
.ybox{
	height:94px;
	width:94px;
	float:left;
	background-color:yellow;
    border:1px solid black;	
	color:black;
	font-size:60px;
	text-align:center;
}
.row{
	height:100px;
	width:300px;
}
#yellow{
	height:600px;
	width:600px;
	background-color:yellow;
	float:left;
}
#blue{
	height:600px;
	width:600px;
	background-color:#5df5e6;
	float:left;
}
.center21{
	height:300px;
	width:600px;
	float:left;
}
#center22{
	height:300px;
	width:300px;
	float:left;
	background-color:white;
}
.center211{
	height:100px;
	width:600px;
}
#time{
	height:600px;
	width:200px;
	color:black;
	font-size:60px;
}
#dice{
	height:300px;
	width:300px;
	color:white;	
}
#resume{
	height:600px;
	width:300px;
	color:white;	
}
h1{
	color:white;
	font-size:100px;
	text-align:center;
	text-shadow:5px 5px 25px black;
	font-family:bold italica;
}

